/** @format */

@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.topmenu {
	@include flex-end;
	padding: 8px 0 0 0;

	&__list {
		@include flex-center;
		gap: 1rem;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	&__link {
		text-decoration: none;
		color: $menuitem-color;
		border-bottom: 1px solid $menuitem-border;
		font-size: $font-size-xsm;

		@include up(md) {
			font-size: $font-size-sm;
		}

		&:hover,
		&:focus {
			color: $color-primary;
			outline: none;
		}
	}
}
